*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito sans", sans-serif;
}
/* ------------------NAVIGATION------------------------------------- */
nav {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #333;
  border-bottom: 1px dotted #f1f1f1;
  background: linear-gradient(to bottom, #333, #626262);
  z-index: 100;
}
.logo-menu {
  position: fixed;
  top: 10px;
  right: 15px;
  width: 50px;
  z-index: 250;
  display: none;
}
.liste-nav {
  background: #333;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, #333, #626262);
  border-bottom: 1px dotted #f1f1f1;
  display: flex;
  justify-content: center;
  list-style: none;
  position: fixed;
  z-index: 200;
}
.item-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-nav a {
  color: #f1f1f1;
  text-decoration: none;
  padding: 0 20px;
  font-size: 25px;
}
.item-nav a::after {
  content: "";
  display: block; /*afin de le faire apparaitre*/
  width: 0%;
  margin: 0 auto;
  height: 2px;
  background: #f1f1f1;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.item-nav a:hover::after {
  width: 90%;
}
/* -----------MEDIA QUERIES NAVIGATION------------------------------- */
@media screen and (max-width: 700px) {
  .logo-menu {
    display: block;
  }
  .liste-nav {
    display: none;
    flex-direction: column;
    height: auto;
  }
  .liste-nav.active {
    display: block;
  }
  .item-nav {
    height: 70px;
  }
  .item-nav:nth-child(1) {
    margin-top: 70px;
  }
}
/* -----------ACCUEIL------------------------------- */
.accueil {
  width: 100%;
  height: 100vh;
  background-image: url(ressources/accueil-pic-lum-down.jpg);
  background-position: center;
  padding-top: 1px; /* RESOLUTION DE LA FUSION DES MARGES*/
  border-bottom: 1px dotted #777;
}
.logo-kyoto {
  border-radius: 50%;
  width: 180px;
  display: block;
  margin: 180px auto 0;
}
.accueil h1 {
  text-align: center;
  font-family: "Merienda One", sans-serif;
  font-size: 100px;
  color: #f1f1f1;
  text-shadow: 0 0 10px #000;
  margin-top: 10px;
}
.sous-titre {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #f1f1f1;
  text-shadow: 0 0 10px #000;
  margin-top: 5px;
}
.btn-accueil {
  text-decoration: none;
  color: #f1f1f1;
  border: 1px solid #333;
  border-radius: 99999px;
  background-color: crimson;
  font-size: 22px;
  width: 200px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
  margin: 30px auto 0;
  display: block; /* POUR LE PLACER ET LUI DONNER WIDTH ET HEIGHT*/
  transition: all 0.2s ease-in-out;
}
.btn-accueil:hover {
  background: rgb(177, 0, 36);
  color: #fff;
}
/* -----------MEDIA QUERIES ACCUEIL------------------------------- */
@media screen and (max-width: 850px) {
  .accueil {
    height: 650px;
  }
  .logo-kyoto {
    margin: 120px auto 0;
  }
  .accueil h1 {
    font-size: 60px;
  }
  .sous-titre {
    font-size: 23px;
  }
  .btn-accueil {
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    margin: 15px auto 0;
  }
}
@media screen and (max-width: 400px) {
  .accueil {
    height: 550px;
  }
  .logo-kyoto {
    width: 150px;
    margin: 110px auto 0;
  }
  .accueil h1 {
    font-size: 35px;
  }
  .sous-titre {
    font-size: 20px;
  }
  .btn-accueil {
    width: 130px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
  }
  .logo-menu {
    top: 15px;
    width: 40px;
  }
}

/* -----------SECTION ASYMETRIQUE------------------------------ */
.section-asymetrique {
  display: grid;
  grid-template: 200px repeat(24, 150px) / 1fr 600px 1fr 600px 1fr;
  background: #f1f1f1;
}
.section-asymetrique h2 {
  /* debut row / debut col / fin row / fin col */
  grid-area: 1 / 1 / 2 /-1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 70px;
  padding-top: 50px;
}
/* -----------BLOC 1------------------------------ */
.bloc-1 {
  grid-area: 3 / 2 / 8 / 3;
  background: #333;
  color: #f1f1f1;
  position: relative;
  left: 100px;
  border-radius: 5px;
}
.bloc-1 img {
  position: absolute;
  left: 300px;
  top: 100px;
  width: 100%;
}
.bloc-txt-1 {
  width: 50%;
  height: 100%;
}
.bloc-txt-1 h3 {
  width: 150% !important;
  font-size: 35px;
  margin: 15px 0;
  padding: 15px;
}
.bloc-txt-1 p {
  line-height: 40px;
  padding: 15px;
  text-align: justify;
}
.btn-bloc-left {
  display: block;
  background: crimson;
  color: #f1f1f1;
  border-radius: 9999px;
  border: none;
  outline: none;
  padding: 20px 35px;
  font-size: 18px;
  margin: 10px auto;
  cursor: pointer;
}
